DATABASE_URL= "postgresql://docker:docker@localhost:5432/gabservicedb?schema=public"
JWT_SECRET= "858Bief#@!@#%$^&*"
GITHUB_OAUTH_CLIENT_ID= "Ov23li9FR1DHhEjQ5fFn"
GITHUB_OAUTH_CLIENT_SECRET= "6595ff68fe97dc7f87c3ec7d53381a4d01aa0a8c"
GITHUB_OAUTH_CLIENT_REDIRECT_URI= "http://localhost:3000/auth/github/callback"
NEXT_PUBLIC_API_URL= "http://localhost:3000/api/auth/callback"